<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>Freifunk WLAN</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_de.js"></script>
    
    <link href="http://register.kbu.freifunk.net/assets/application-f0075c3e31dddb231801aab2d7b97b39.css" media="all" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 	<!--[if lte IE 8]>
     	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 	<![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    
    <script>
    function trans(msg, rot) {
		return msg.replace(/([a-z])/ig,
			function($1) {
				var c = $1.charCodeAt(0);
				return String.fromCharCode(
					c >= 97 ? (c + rot + 26 - 97) % 26 + 97
						: (c + rot + 26 - 65) % 26 + 65);
			});
 		}
    </script>
    
    <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
    <script src="js/leaflet.awesome-markers.min.js"></script>
    
   <style type="text/css">
   .worker {
   }
   .worker th, .worker td{
    border-bottom: 1px #e0e0e0 solid;
   }
   .worker tr:last-child th, .worker tr:last-child td{
    border-bottom: none;
   }
  </style>
    
</head>
<body class="freifunk-yellow-bg">
    <!-- pointing to cljsbuild generated js file -->
    <script src="js/phytomap.js"></script>

	<div id="header">
		<div id="head">
			<h1>WLAN-Knoten Informationen</h1>
		</div>
		
		<div id="logo" style="background-image: url(http://register.kbu.freifunk.net/assets/banner-357a05e6969b6b5fe34111876a6aed59.png)">
			<img alt="Banner_logo" src="http://register.kbu.freifunk.net/assets/banner_logo-0ffdd63c226a64e4601f497e871c69f1.png" />
		</div>
		
		<div id="main-nav">
			<a href="http://register.kbu.freifunk.net/app">Start</a> |
			<a href="http://register.kbu.freifunk.net/app/map">Karte</a> |
			<a href="phytomap.html">Nodes</a> |
			<a href="http://register.kbu.freifunk.net/fastds">Fastd-Keys</a> |
			<a href="http://register.kbu.freifunk.net/watchdog_bites">Watchdog</a>
		</div>
		
	</div>
	
    <div ng-controller="phytomap.core.SimpleStatsCtrl" id="body">
      <p ng-show="stats == null">
      	Bitte einen Moment Geduld, Informationen werden geladen ... 
      </p>

      <p ng-show="stats != null">
      	<input type="checkbox" ng-model="allNodes" ng-change="modeChanged()"> 
      	alle {{ enrichedStatsCount }} Knoten zeigen (auch offline/nicht lokalisiert/nicht registriert) 
 <!--     	<br/>
      	<input type="checkbox" ng-model="list"> 
      	Liste zeigen -->
      	<br/>
      	<input type="checkbox" ng-model="extended"> 
      	erweiterte Informationen zeigen
      	<br/>
      	<span>
      		Suche: <input ng-model="searchText">
      	</span> 
      </p>
      
      <!-- span ng-if="searchText.length || list" -->
      <div style="float: left; height: 700px; overflow: auto;">
      <table class="worker" ng-show="stats != null">
      <thead>
      	<tr>
      	    <th>{{(stats | filter:searchText).length}} WLAN-Knoten</th>
      	    <th>Entfernung</th>
      	</tr>
      </thead>
      <tbody>
        <tr ng-repeat="stat in stats | filter:searchText">
          <td style="max-width: 260px;" valign="top">
          	<span class="node_reg_key">Name: </span>
          	<span class="node_reg_value">
            	<span ng-switch="stat.node_registration.name == '' || stat.node_registration.name == null">
          			<span ng-switch-when="true" style="color: red;">
          				<span ng-if="stat.node_registration != null">Ohne Name</span>
          				<span ng-if="stat.node_registration == null">Nicht registriert</span>          				
          			</span>
          			<span ng-switch-default>{{stat.node_registration.name}}</span>
          		</span>
          	</span>
	        <br/>
          	<span ng-if="stat.node_registration.loc_str != '' && stat.node_registration.loc_str != null">
          		<span class="node_reg_key">Standort: </span>
          		<span class="node_reg_value">{{stat.node_registration.loc_str}}</span><br/>
          	</span>
          	<span ng-if="(stat.node_registration.loc_str == '' || stat.node_registration.loc_str == null) && (stat.node_registration.osm_loc != '' && stat.node_registration.osm_loc != null)">
          		<span class="node_reg_key">Standort: </span>
          		<span class="node_reg_value">{{stat.node_registration.osm_loc}}</span><br/>
          	</span>
          	
          	</span>
          	<span class="node_reg_key">Ping: </span>
          	<span class="node_reg_value">
          		<span ng-switch="stat.stats.rtt_5_min">
          			<span ng-switch-when="null" style="color: red;">offline</span>
          			<span ng-switch-default>{{stat.stats.rtt_5_min | number:0}} ms</span>
          		</span>
          	</span>
          	
          	<span ng-if="extended || stat.node_registration == null">
          		<br/>
          		<span class="node_reg_key">MAC: </span>
          		<span class="node_reg_value monospaced">{{stat.mac}}</span>
          		<span class="node_reg_value" ng-if="stat.node_registration != null">
          			(<a href="" ng-click="openSSH(stat.node_registration.name)">ssh</a>)
          		</span>
          		<br/>
          		<span class="node_reg_key">Firmware-Version: </span>
          		<span class="node_reg_value">
          				<span ng-if="stat.node.fw_version == null" style="color: red;">Unbekannt</span>
          				<span ng-if="stat.node.fw_version != null">{{stat.node.fw_version}}</span>
          		</span>
          		<br/>
          		<span class="node_reg_key" ng-if="stat.node_registration != null">Operator: </span>
          		<span class="node_reg_value" ng-if="stat.node_registration != null">
          			<span ng-switch="stat.node_registration.operator_name == '' || stat.node_registration.operator_name == null">
          				<span ng-switch-when="true" style="color: red;">Kein Operator</span>
          				<span ng-switch-default>{{stat.node_registration.operator_name}} (<a href="" ng-click="sendEmail(stat.node_registration.operator_name, stat.node_registration.operator_email)">E&#8209;Mail</a>)</span>
          			</span>
          		</span>
          		<span ng-if="stat.node_registration != null && stat.node != null">
 	         		<br/>
          			<a href="http://register.kbu.freifunk.net/node_registrations/{{stat.node_registration.id}}/edit" target="regedit-{{stat.node_registration.id}}">Registrierung</a> 
          			| 
          			<a href="http://register.kbu.freifunk.net/node_statuses?node={{stat.node.id}}" target="stathist-{{stat.node.id}}">Status-Historie</a> 
          			| 
          			<a href="http://register.kbu.freifunk.net/nodes/{{stat.node.id}}/stats" target="stats-{{stat.node.id}}">Statistik</a>
          		</span>
          	</span>
          </td>
          <td valign="top">
          	<span ng-if="stat.distance">
          {{stat.distance | number:3}} km <br/>
          	<a href="" ng-click="showNode(stat.node.mac)">auf&nbsp;Karte&nbsp;zeigen<a>
          	</span>
          </td>
        </tr>
      </tbody>
      </table>
      </div>
      <!-- /span -->
      
      <div id="map" style="height: 700px;" width="100%"></div>     
     </div>    
   </div>
</body>
</html>
