<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>Freifunk Statistics</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>
    <!-- pointing to cljsbuild generated js file -->
    <script src="js/phytomap.js"></script>

    <h2>Node Stats</h2>
    <div ng-controller="StatsCtrl">
      <span>{{stats.length}} Nodes</span>
      <ul class="unstyled">
        <li ng-repeat="stat in stats">
          <input type="checkbox" ng-model="stat.done">
          <span class="done-{{stat.done}}">{{stat.text}}</span>
        </li>
      </ul>
    </div>

</body>
</html>
